.UserList {
    padding: 1rem;
    gap: 1rem;
    width: calc(100% - 320px - 1rem);
    justify-content: center;
    margin-left: calc(330px + 1rem); 
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .Titulo_2 {
    font-size: 40px;
    text-align: center;
    color: #007BFF;
  }
  
  .CardUser {
    border: 1px solid #CED4DA;
    text-align: left;
    background-color:gainsboro;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 4px 4px 10px rgba(0, 123, 255, 0.274);
    border-radius: 15px;
  }
  
  span {
    color:#007BFF;
  }
  
  .Eliminar, .Editar {
    border: 1px solid black;
    border-radius: 5px;
    background-color:whitesmoke;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
  }

  .Eliminar:hover {
    background-color:rgb(224, 13, 13);
    color: seashell;
   }
   .Editar:hover {
    background-color:steelblue;
    color: seashell;
   }

   @media (max-width: 425px) {
    .UserList {
      width: calc(100% - 200px - 1rem);
      margin-left: calc(200px + 1rem);
    }
  
    .Titulo_2 {
      font-size: 30px;
    }
    
    .CardUser {
      max-width: 200px;
      font-size: 14px;
    }
    .Eliminar, .Editar {
      font-size: 12px;
      padding: 2px;
      margin: 3px;
    }
  }

/* Para tabletas en modo vertical (hasta 768px) */
@media (max-width: 375px) {
  .UserList {
    width: calc(100% - 175px - 1rem);
    margin-left: calc(175px + 1rem);
  }

  .Titulo_2 {
    font-size: 25px;
  }
  
  .CardUser {
    max-width: 175px;
    font-size: 12px;
  }
  .Eliminar, .Editar {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .UserList {
    width: calc(100% - 150px - 1rem);
    margin-left: calc(150px + 1rem);
  }

  .Titulo_2 {
    font-size: 15px;
  }
  
  .CardUser {
    max-width: 150px;
    font-size: 10px;
  }
  .Eliminar, .Editar {
    font-size: 9px;
    margin: 1px;
  }
}